<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="returnInstanceForEmptyRow" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="SellerDAO" type="com.example.localtest.smartstoreapi.seller.dao.SellerDAO"/>
        <typeAlias alias="StoreErrorLogDTO" type="com.example.localtest.smartstoreapi.seller.dto.StoreErrorLogDTO"/>
        <typeAlias alias="StoreLogDTO" type="com.example.localtest.smartstoreapi.seller.dto.StoreLogDTO"/>
    </typeAliases>
</configuration>