<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.localtest.smartstoreapi.seller.mapper.SellerMapper">
<!--    <insert id="insertStoreLog" parameterType="java.lang.String">-->
<!--        SELECT * FROM board;-->
<!--    </insert>-->

    <select id="getStoreLog" resultType="StoreLogDTO">
        SELECT DISTINCT productOrderId, productId, productName, beforeClaimStatus, beforeClaimType, beforeProductOrderStatus, endPoint, parameterJson, afterClaimStatus, afterClaimType, afterProductOrderStatus, regDate
        FROM
            logs.StoreLogs
        WHERE errorCode IS NULL
        ORDER BY regDate DESC;
    </select>

    <insert id="afterInsertStoreLog" useGeneratedKeys="true" keyProperty="seq" parameterType="SellerDAO">
        INSERT INTO StoreLogs (beforeClaimStatus, beforeClaimType, beforeProductOrderStatus, afterClaimStatus, afterClaimType, afterProductOrderStatus, productOrderId, mallId, productId, productName, productOption, parameterJson, errorCode, errorMessage, errorDetail, endPoint, regDate)
        VALUES  (#{beforeClaimStatus}, #{beforeClaimType}, #{beforeProductOrderStatus}, #{afterClaimStatus}, #{afterClaimType}, #{afterProductOrderStatus}, #{productOrderId}, #{mallId}, #{productId}, #{productName}, #{productOption}, #{parameterJson}, #{errorCode}, #{errorMessage}, #{errorDetail}, #{endPoint}, #{regDate});
    </insert>

    <select id="getStoreLogBySeq" parameterType="Integer" resultType="SellerDAO">
        SELECT * FROM StoreLogs
        WHERE seq = #{targetSeq};
    </select>

    <update id="updateStoreLogBySeq" parameterType="SellerDAO">
        UPDATE StoreLogs SET afterClaimStatus = #{afterClaimStatus}, afterClaimType = #{afterClaimType}, afterProductOrderStatus = #{afterProductOrderStatus}
        WHERE seq = #{seq};
    </update>

    <select id="getStoreErrorLog" resultType="StoreErrorLogDTO">
        SELECT DISTINCT productOrderId, productId, productName, beforeClaimStatus, beforeClaimType, beforeProductOrderStatus, endPoint, parameterJson, afterClaimStatus, afterClaimType, afterProductOrderStatus, errorCode, errorMessage, regDate
        FROM
            logs.StoreLogs
                WHERE errorCode IS NOT NULL
        ORDER BY regDate DESC;
    </select>

    <update id="actionErrorCodeBySeq" parameterType="SellerDAO">
        UPDATE StoreLogs SET actionErrorCode = #{actionErrorCode}
        WHERE seq = #{seq};
    </update>

    <update id="endErrorCodeBySeq" parameterType="sellerDAO">
        UPDATE StoreLogs SET endErrorCode = #{endErrorCode}
        WHERE seq = #{seq};
    </update>
</mapper>